html {
  overflow-y: overlay;
  overflow-x: hidden;
}

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
  background-color: rgba(8, 9, 9, 0.82);
  overflow-x: hidden;
}

body a {
  text-align: left;
}

canvas {
  display: block;
}

/*
===============================
particles container
===============================
*/

#particles {
  position: absolute;
  width: 100%;
  height: 70%;
    background-image: linear-gradient(217deg, rgba(132,94,194,.8), rgba(132,94,194,0) 70.71%),
            linear-gradient(127deg, rgba(173,94,0,.8), rgba(173,94,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,140,130,.8), rgba(0,140,130,0) 70.71%);
}


/*
===============================
navbar
===============================
*/

#rightnav{
  float:right;
  margin-right:1%;
}

nav {
  background-color: rgba(45, 132, 150, 0.644);
  position: absolute;
  top:0em;
  left:0em;
  right:0em;
  border-bottom: 1px solid #404040;
  overflow-x: hidden;
}

nav a {
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  display: block;
  float: left;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  background-color: rgb(32, 71, 83);
}

nav cite {
  float: right;
  padding: 14px 16px;
  font-style: italic;
  font-size: 15px;
}

.active {
  background-color: rgb(255, 255, 255);
}

/* 
===============================
content
===============================
*/

header {
  position: absolute;
  left: 0;
  font-size: 18px;
  text-align: center;
}

#home {
  top: 39%;
  text-align:left;
  margin-left: 15.7%;
  color: white;
  pointer-events: none;
}

#style3 {
  font-style: cursive;
}

header article{
  margin-left: 15%;
  margin-right: 15%;
}

header article a:hover{
  background-color: rgb(255, 255, 0);
}

header article a{
  text-decoration: none;
  color: rgb(0, 0, 0)
}

#ref {
  margin-bottom: 2em
}


/* 
===============================
main content
===============================
*/

main {
    width: 100%;
    height: auto;
    padding-top: 2%;
    position: absolute;
    color: #efefef;
}

article {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 1%;

}

.margintop {
    margin-top: 5em;
}

.about {
  margin-right: 25%;
  margin-left: 15.7%;
  margin-bottom: 1%;
  font-size: 15px;
}

.margin-bot {
  margin-bottom: 35px;
}

.margin-bot2 {
  margin-bottom: 35px;
}

.margin-end {
  margin-bottom: 60px;
}

/* ----
header footer
---- */

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(45, 132, 150, 0.452);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #404040;
}

.social {
  width: 2.5em;
  height: auto;
  margin-left: 0.8em;
}

footer a:hover {
  background-color: #ffffff00;
}


/* 
===============================
TODO Project card
=============================== 
*/

.project {
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 1%;
  font-size: 15px;
}

.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

.flex-container > div {
  background-color: #ffffff;
}

.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 25em;
  margin: auto;
  text-align: left;
  font-family: arial;
  padding: 0.7em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 1.5em;
  cursor: pointer;
  background-image: linear-gradient(to right,#0F2027,#203A43,#2C5364)
}

.card:hover {
  filter: grayscale(50%);
  border: 1px solid grey;
}

.title {
  color: rgb(46, 140, 223);
  font-size: 18px;
}

a {
  text-decoration: none;
  color: rgb(2, 59, 66);
}

a.none {
  pointer-events: none;
}

main a:hover {
  background-color: yellow;
}

.section {
  position: absolute;
  bottom: 0;
  margin-top: 6px;
  margin-bottom: 2em;
  padding: 2px 6px;
  border-left: 6px solid rgb(92, 92, 252);
  text-align: left;
}

.extra-space {
  margin-bottom: 7em;
}

.medium-space {
  margin-bottom: 4em;
}